* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    width: 50px;
    height: auto;
}

.form-div {
    width: 500px;
    margin: 80px auto;
    padding: 2rem;
}

.form-header {
    font-family: "Means Web",Georgia,Times,"Times New Roman",serif;
    font-size: 36px;
    margin-bottom: 16px;
}

.field-label {
    display: block;
    font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 1.2rem;
    line-height: 18px;
    margin-top: 24px;
    margin-bottom: 8px;
}

input {
    min-height: 46px;
    font-size: 1.2rem;
    line-height: 20px;
    padding: 0 15px;
}

input[type="password"] {
    display: block;
}

input[type="checkbox"] {
    min-height: 0;
    width: 20px;
    height: 20px;
    padding-right: 2px;
}

input[type="submit"] {
    margin: 0;
    padding: 10px;
    border: 0;
    background-color: #f5f541;
    font-weight: inherit;
    font-style: inherit;
    font-size: 24px;
    font-family: inherit;
    border-radius: 3px;
}

input[type="submit"]:hover {
    color:white;
}

.form-info {
    font-size: 16px;
    margin-bottom: 10px;
}



.sidebar-div {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('images/flower.png');
}

@media (max-width: 700px) {
    .sidebar-div {
        display: none;
    }
}